@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --main-color: #22BAA0;
    --color-dark: #34425A;
    --text-grey: #B0B0B0;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

body{
  background: linear-gradient(45deg, #a8ebc2, #aeddf0);
  height: 100vh;

}
  
.leftbox {
  float: left;
  top: 1.5%;
  left: -2%;
  position: absolute;
  width: 8%;
  height: 100%;
  background: rgba(50, 163, 129, 0.801);
  box-shadow: 3px 3px 10px rgba(119, 119, 119, 0.5);
}
nav{
  padding-top: 10px;
}
nav a {
  list-style: none;
  padding: 27px;
  color: #fff;
  font-size: 1.1em;
  display: block;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  color: #3F5EFB;
  transform: scale(1.1);
  cursor: pointer;
}

nav a:first-child {
  margin-top: 7px;
}
#menu-toggle {
    display: none;
}



.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    background-size: cover;
}





#menu-toggle:checked ~ .sidebar {
    width: 60px;
}

#menu-toggle:checked ~ .sidebar .side-header span {
    display: none;
}

#menu-toggle:checked ~ .main-content {
    margin-left: 60px;
    width: calc(100% - 60px);
}

#menu-toggle:checked ~ .main-content header {
    left: 60px;
}

#menu-toggle:checked ~ .sidebar .profile,
#menu-toggle:checked ~ .sidebar .side-menu a small {
    display: none;
}

#menu-toggle:checked ~ .sidebar .side-menu a span {
    font-size: 1.3rem;
}


.main-content {
    margin-left: 50px;
    width: calc(100% - 50px);
    transition: margin-left 300ms;
}



.header-content, .header-menu {
    display: flex;
    align-items: center;
}

.header-content {
    justify-content: space-between;
    padding: 0rem 1rem;
}

.header-content label:first-child span {
    font-size: 1.3rem;
}

.header-content label {
    cursor: pointer;
}



.notify-icon span:last-child {
    position: absolute;
    background: var(--main-color);
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: -5px;
    top: -5px;
    color: #fff;
    font-size: .8rem;
    font-weight: 500;
}

.user {
    display: flex;
    align-items: center;
}

.user div, .client-img {
    height: 40px;
    width: 40px;
    margin-right: 1rem;
}

.user span:last-child {
    display: inline-block;
    margin-left: .3rem;
    font-size: .8rem;
}



.page-header {
    padding: 1.3rem 1rem;
    font-family: "Poppins", sans-serif;

}

.page-header h1, .page-header small {
    color: #333;
}

.page-content {
  margin-left: 2vh;

}


.indicator {
    height: 10px;
    border-radius: 4px;
}

.indicator.one {
    background: #22baa0;
}

.indicator.two {
    background: #11a8c3;
}

.indicator.three {
    background: #f6d433;
}

.indicator.four {
    background: #f25656;
}

.records {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
    background: #fff;
    border-radius: 3px;
}

.record-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add, .browse {
    display: flex;
    align-items: center;
}

.add span {
    display: inline-block;
    margin-right: .6rem;
    font-size: .9rem;
    color: #666;
}
a{
  color:#333;
}
input, button, select {
    outline: none;
}

.add select, .browse input, .browse select {
    height: 35px;
    border: 1px solid #b0b0b0;
    border-radius: 3px;
    display: inline-block;
    padding: 0rem .5rem;
    margin-right: .8rem;
    color: #666;
}

.add button {
    color: #666;
    height: 37px;
    border-radius: 4px;
    padding: 0rem 1rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #b0b0b0;
}

.browse input {
    width: 160px;
    
}

.browse select {
    width: 100px;
}

.table-responsive {
    width: 95%;
    overflow: auto;
}

table {
    border-collapse: collapse;
}

table thead tr {
    background: #e9edf2;
    width: 100%;
}

table thead th {
    padding: 1rem 0rem;
    text-align: left;
    color: #444;
    font-size: .9rem;
}

table thead th:first-child {
    padding-left: 1rem;
}

table tbody td {
    padding: 1rem 0rem;
    color: #444;
}

table tbody td:first-child {
    padding-left: 1rem;
    color: var(--main-color);
    font-weight: 600;
    font-size: .9rem;
}

table tbody tr {
    border-bottom: 1px solid #dee2e8;
}

.client {
    display: flex;
    align-items: center;
}

.client-img {
    margin-right: .5rem;
    border: 2px solid #b0b0b0;
    height: 45px;
    width: 45px;
}

.client-info h4 {
    color: #555;
    font-size: .95rem;
}

.client-info small {
    color: #777;
}

.actions span, i {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: .5rem;
}





@media only screen and (max-width: 768px) {
 
    
    .sidebar {
        left: -165px;
        z-index: 90;
    }
    
    header {
        left: 0;
        width: 100%;
    }
    
    .main-content {
        margin-left: 0;
        width: 100%;
    }
    
    #menu-toggle:checked ~ .sidebar {
        left: 0;
    }
    
    #menu-toggle:checked ~ .sidebar {
        width: 165px;
    }

    #menu-toggle:checked ~ .sidebar .side-header span {
        display: inline-block;
    }

    #menu-toggle:checked ~ .sidebar .profile,
    #menu-toggle:checked ~ .sidebar .side-menu a small {
        display: block;
    }

    #menu-toggle:checked ~ .sidebar .side-menu a span {
        font-size: 1.7rem;
    }
    
    #menu-toggle:checked ~ .main-content header {
        left: 0px;
    }
    
    table {
        width: 900px;
    }
}


/* CSS for the card */
.card-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    padding: 16px;
    background-color: #fff;
  }
  
  .card-header {
    background-color: #f1f1f1;
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  
  .card-body {
    padding: 8px 0;
  }
  
  .card-body p {
    margin: 4px 0;
  }
 
  
  
.cont {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: #a5a3a3;;
    border-radius: 12px;
    border: 1px solid rgba(0,0,0,0.125);  
    padding: 38px;  
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    max-width: 50vh;
    max-height: 100vh;
    margin: 0 auto ;
    margin-top: 10vh;
  }
  
  
  
  .banner-image {
    /* background-image: url(); */
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 70%;
    margin: 0 auto ;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255, 0.255)
  }
  
  .cont h1{
  
    color: #333;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2vh;
  }
  
  .cont p {
    margin-top: 2vh;
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .cont .button-wrapper{
    margin-top: 18px;
  }
  
  .cont .btn {
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 12px;
    letter-spacing: 2px;  
    cursor: pointer;
  }
  
  .cont .btn + .btn {
    margin-left: 10px;
  }
  
  .cont .outline {
    background: transparent;
    color: #333;
    border: 1px solid #333;
    transition: all .3s ease;
    
  }
  
  .cont .outline:hover{
    transform: scale(1.125);
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
    transition: all .3s ease;  
  }
  
  
  a{
    cursor:pointer;
  }

  .center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Required for positioning the overlay */
  }
  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }


  .close-replace{
    /* replace text with an image */
    display: inline-block;
    /* overflow: hidden; */
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
  }
  
  
  
  .cd-popup-trigger {
    display: block;
    width: 170px;
    height: 50px;
    line-height: 50px;
    margin: 3em auto;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 50em;
    background: #35a785;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07);
  }
  @media only screen and (min-width: 1170px) {
    .cd-popup-trigger {
      margin: 6em auto;
    }
  }
  
  /* -------------------------------- 
  
  xpopup 
  
  -------------------------------- */
  .cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 12;
    margin-top: 30vh;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
  }
  .cd-popup.is-visible {
    opacity: 12;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
  }
  
  .cd-popup-container {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 4em auto;
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .cd-popup-container p {
    padding: 3em 1em;
  }
  .cd-popup-container .cd-buttons:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-popup-container .cd-buttons li {
    float: left;
    width: 50%;
    list-style: none;
  }
  .cd-popup-container .cd-buttons a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFF;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .cd-popup-container .cd-buttons li:first-child a {
    background: #fc7169;
    border-radius: 0 0 0 .25em;
  }
  .no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
    background-color: #fc8982;
  }
  .cd-popup-container .cd-buttons li:last-child a {
    background: #b6bece;
    border-radius: 0 0 .25em 0;
  }
  .no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
    background-color: #c5ccd8;
  }
  .cd-popup-container .cd-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
  }
  .cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: #8f9cb5;
  }
  .cd-popup-container .cd-popup-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
  }
  .cd-popup-container .cd-popup-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
  }
  .is-visible .cd-popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  @media only screen and (min-width: 1170px) {
    .cd-popup-container {
      margin: 8em auto;
    }
  }
  

