<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="container">

  <div class="product-details">

    <h1>Name comp</h1>
    <!-- <span class="hint-star star">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star-o" aria-hidden="true"></i>
    </span> -->
    <div class="information">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quisquam animi vel rem odio dignissimos reprehenderit quia, numquam dolorum cupiditate quidem at alias temporibus, consectetur quos vero ipsa, commodi accusantium.</p>
    </div>
    <div class="control">

      <button class="btn">
        <span class="price">Shop</span>
        <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
        <span class="buy">Get now</span>
      </button>

    </div>

  </div>

  <div class="product-image">

    <img src="" alt="">

    <div class="info">
      <h2> Description</h2>
      <ul>
        <li><strong>Height : </strong>5 Ft </li>
        <li><strong>Shade : </strong>Olive green</li>
        <li><strong>Decoration: </strong>balls and bells</li>
        <li><strong>Material: </strong>Eco-Friendly</li>

      </ul>
    </div>
  </div>

</div>